.bar{
    position: fixed;
    z-index: 10;
    display: grid;
    gap: 30px;
    box-sizing: border-box;
    padding: 15px;
    height: 100vh;
    grid-auto-columns: max-content;
    grid-template-rows: max-content auto max-content;
    box-shadow: 0px 0px 10px var(--neutral500);
    background: white;
    justify-content: center;
}
.links{
    display: grid;
    gap: 10px;
    grid-auto-rows: max-content;
}
.background{
    z-index: 9;
    position: fixed;
    &.open{
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(1px);
        background: #00000090;
    }
}
.text{
    font-size: 14px;
    color: var(--neutral600);
    min-width: 0;
}
.img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    fill: var(--neutral600);
    color: var(--neutral600);
}
.preview{
    overflow: hidden;
}
.container_text{
    display: grid;
    overflow: hidden;
    transition: .5s linear grid-template-columns;
    &.open{
        animation: .5s both linear open;
    }
    &.noopen{
        animation: .5s both linear reverse open;
    }
}
.btn_fill{
    background: var(--primary);
}
.btn_outline{
    border-color: var(--primary);
    color: var(--primary);
}
@keyframes open {
    0%{
        grid-template-columns: 0fr;
    } 
    100%{
       grid-template-columns: 1fr;
   }
}
.link{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-auto-columns: max-content;
    padding: 10px;
    border-radius: 7px;
    &.open{
        gap: 10px;
    }
    &.active{
        background: var(--primary70);
        .img {
            fill: var(--primary);
            color: var(--primary);
        }
        .preview{

        }
        .text{
            font-size: 14px;
            font-weight: 700;
            color: var(--primary);
        }   
    }
}

