.allInfo{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);
    user-select: none;
}
.info{
    display: grid;
    gap: 10px;
    border-radius: 7px;
    padding: 15px;
}
.green{
    fill: var(--color3);
    background: var(--color3_100);
}
.red{
    fill: var(--second);
    background: var(--second100);
}
.primary{
    fill: var(--primary);
    background: var(--primary100);
}
.title{
    font-weight: 500;
    font-size: 14px;
    color: var(--neutral900);
}
.data{
    font-size: 32px;
    font-weight: 700; 
    color: var(--neutral900);
}
.svg{
    padding-left: 10px;
}
.preview{
    width: 100%;
    object-fit: fill;
    border-radius: 7px;
    border: 1px;
    display: grid;  
    justify-content: center;
    align-content: center;
    background: var(--neutral200);
}
.header{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr auto;
}
.video_title{
    font-size: 32px;
    font-weight: 600;
    color: var(--neutral900);
}
.container{
    display: grid;
    gap: 30px;
}
.notfound{
    display: grid;
    justify-content: center;
    position: relative;
    min-height: 100%;
    align-content: center;
    font-size: 32px;
    font-weight: 600;
}