.button{
    font-size: 14px;
    padding: 5px 12px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: .4s;
    border-radius: 6px;
    &:hover{
        transition: .4s;
        filter: brightness(.5);
    }
    &:active{
        position: relative;
        width: 100%;
        height: 100%;
        animation-delay: 10s;
        transition: .2s;
        scale: 0.9;
    }
}

.button:disabled{
    filter: brightness(1.2);
}
.solid{
    color: white;
    background:var(--neutral500);
}
.solid_light{
    color: var(--neutral600);
    background:var(--neutral200);
}
.outline{
    color: var(--neutral500);
    background:white;
    border: 2px solid var(--neutral500);
}
.outline_trans{
    border: 2px solid var(--neutral500);
    color: var(--neutral600);
    background:transparent;
}
.link{
    color: var(--neutral500);
    background:transparent;
}
.line{
    border-bottom: 2px solid var(--neutral500);
    background: transparent;
    color: var(--neutral900);
    border-radius: 0px;
    padding: 5px 15px 5px 0px;
    text-align: left;
}
.line_trans{
    border-bottom: 2px solid var(--neutral500);
    background: var(--neutral200);
    color: var(--neutral900);
    padding: 5px 15px 5px 0px;
    border-radius: 0px;
    text-align: left;
}