.input{
    font-size: 14px;
    color: var(--neutral900);
    background: transparent;
    border: 1px solid transparent;
    width: 100%;
}
.input::placeholder{
    color: var(--neutral900);
    text-align: left;
    font-size: 14px;
}
.label:hover{
    transition: .5s box-shadow;
    box-shadow: 0px 0px 10px var(--neutral900);
}
.label:disabled{
    filter: brightness(1.2);
}
.label{
    transition: .5s;
    box-shadow: 0px 0px 10px transparent;
    border-radius: 6px;
    border: 1px solid transparent;
    grid-template-columns: max-content auto;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-items: center;
}
.borderless{
    background: var(--neutral200);
}
.trans{
    border-color: var(--neutral400);
}
.line{
    background: white;
    border-bottom: 1px solid var(--neutral400);
    border-radius: 0px;
}
.line_trans{
    border-bottom: 1px solid var(--neutral400);
    background: transparent;
    border-radius: 0px;
}
.filled{
    background: white;
    border-color: var(--neutral400);
    
}
.label:focus-within{
    box-shadow: 0px 0px 0px 2px #00000080;
    transition: .5s;
}