:root{
    --primary:#636AE8;
    --primary70:#636AE870;
    --color4:#7F55E0;
    --second:#E8618C;
    --color3:#22CCB2;
    --color5:#EA916E;
    --neutral200:#e5e5e5;
    --neutral400:#a3a3a3;
    --neutral500:#737373;
    --neutral600:#525252;
    --neutral900:#262626;
    --font1:"Inter";
    --font2:"Archivo";
}
